@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    background-color: white;
    perspective: 900px;
    overflow: hidden;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}
body {  transition: 1.2s all; }
.sf {
    width: 100%;height: 100%;
    background-image: url("assets/hexegon_texture_hero-01.png");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: contain;
}

sample{ display:none;}
.hidden { opacity:0; }
controls {
    font-size: 12px;opacity:0.3;
}
controls:hover{ opacity:1;}
symbol {
    font-size: 120px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    opacity:0;
}
comment {
    background-color: #222;
}
#val { line-height: 0 }
#kubTitle { font-size: 55px;::down(190);  }
#kub { ::down(60); font-size: 96px;}
#kublogo{ ::up(180);}
body.s1 { background-color: #fcf1d8;}
.s1 {
    #odessa: show;
}
body.s2 {  background-color: #0074C1;  }
.s2 {
    #kublogo: show down(50);
    #kub: show down(50) delay(0.4);
    #kubTitle:show down(50) delay(0.6);
    #odessa: down(300) hide rotate(130);
}
#val{
    ::scale(0.5,0.5) up(270) rotate(-50);
    box-shadow: 0 0 95px black;
}
#val_qr: right(790);
#val_qr {
    &:after {
        content:"http://olostan.name";
        position:absolute;
        font-size: 25px;
        top:-35px;
    }
}
#val_qr2 {
    &:after {
        content:"https://goo.gl/nvOcCE";
        position:absolute;
        font-size: 25px;
        top:-35px;
        left:-30px;
    }
}
#val_qr2: left(790);
.s3 {
    #kublogo: down(300) right(40) scale(0.35,0.35);
    #kub: show down(50) delay(0);
    #kubTitle:show down(40) delay(0);
    #odessa: down(300) hide rotate(130);
    #val: show down(150) rotate(50);
    #val_qr: show left(500) delay(0.5);
    #val_qr2: show right(500) delay(0.5);
}
body.s4 {  background-color: #444; }
#webapp: up(300);
#nodejs: up(340) scale(0.5,0.5);
.s4 {
  #kublogo: down(598) hide;
  #kub: show down(450) hide;
  #kubTitle:show down(440) hide;
  #odessa: down(500) hide rotate(130) hide;
  #val: show down(550) rotate(70) delay(0.2) hide;
  #val_qr: down(500) rotate(70) delay(0.5) hide;
  #val_qr2: down(500) rotate(70) delay(0.5) hide;
  #webapp: show down(300) delay(0.7);
  #nodejs: show down(300) delay(0.9);
}
#containers: rotate(-90) scale(1.3,1.3);
#docker: scale(0.3,0.3) up(170) right(190);
.s5 {
  #webapp: rotate(90) delay(0);
  #containers: rotate(90) show;
  #docker:show;
}
#manual: rotate(0,-90) left(200);
#manual_t {
  ::up(400);font-size: 52px;width: 600px;text-align: center;text-shadow: 0 0 15px black;
  background-color: rgba(0,0,0,0.3);padding:30px;
}
.s6 {
  #webapp: hide;
  #nodejs: hide;
  #containers: rotate(0,90) right(200) hide;
  #docker: hide;
  #manual: rotate(0,90) right(200) show;
  #manual_t: show down(400) delay(1);
}
#kuber { width: 900px;height: 900px;::up(300);}
.s7 {
  #manual: rotate(120) down(400) hide delay(0.4);
  #manual_t: hide rotate(120) down(400) delay(0);
  #kuber: show down(600) delay(0.6);
}
body.s7 {  background-color: #44e; }
#containers2: up(400) rotate(50);
#containers2_t { ::up(400) rotate(50); text-shadow: 0 0 30px black;}
.s8 {
  #kuber: hide down(600) delay(0);
  #containers2: show down(400) rotate(-50);
  #containers2_t: show down(400) rotate(-50) delay(0.3);
}
#pods: up(400) rotate(50);
#pods_t { ::up(400) rotate(50); text-shadow: 0 0 30px black;}

.s9 {
  #containers2: hide down(400) rotate(-50);
  #containers2_t: hide down(400) rotate(-50) delay(0.3);
  #pods: show down(400) rotate(-50);
  #pods_t: show down(400) rotate(-50) delay(0.3);
}
#try: up(400) rotate(50);
body.s10 {  background-color: #F00; }
.s10 {
  #pods: hide down(400) rotate(-50);
  #pods_t: hide down(400) rotate(-50) delay(0.3);
  #try: show down(400) rotate(-50);
}
#cheat { width:800px;height: 700px;overflow: scroll;}
#cheat pre { font-size: 16px;}
.s11 {
  #cheat:show;
}